
body {
    background-image: url(../Portafolio-Alonso-P-rez/img/pexels-rovenimagescom-949587.jpg);
    background: hsl(0, 0%, 95%);
    font-family: 'Open Sans', sans-serif;
    
}




.inicio {
    padding: 20px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #9B9B9B;
    text-decoration: none;

   
 
}

a {
    text-decoration: none;
    color: #f3f3f3;
    background-color: black;
    padding: 10px;
    border-radius: 40px;
    margin-left: 50px;
}

.container{
    background-image: url(../Portafolio-Alonso-P-rez/img/pexels-cottonbro-3826435.jpg);
    background-size: contain;
    box-shadow: inset;
    display:flex;
   flex-direction: column;
    
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.video1 {
    
}




